:root{
    --slide-distance: 70px;
}


.animalContainer{
     
    position: relative;
    height: 150px;
    width: 50%;
.damageNumber{
    position: absolute;
    left: 140%;
    opacity: 0;
    top: -20%;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    color: rgb(206, 21, 21);
    -webkit-text-stroke: 3px black;
    z-index: 100;
}
&.flipped{
    &.animating{
        .damageNumber{
         animation: fadeNumberMirror 1s ease 2.1s;
        }
    }
}
    &.animating{ 
        .damageNumber{
            animation: fadeNumber 1s ease 2.1s;
        }
        .animalImage{
            animation: attack 0.8s ease 1.8s;
        }
        .healthBeforeAttack{
            animation: swapHealth 0.1s ease 2.2s reverse forwards;
        }
        .healthAfterAttack{
            animation: swapHealth 0.2s ease 2.2s forwards;
        }
        &.survive{
            .animalOne,
            .animalTwo{
                animation: popIn 0.3s ease forwards, slide 1s linear 0.5s forwards, bob 0.33s ease-in-out 0.5s 3, bounce 0.4s ease 2.5s, popOut 0.4s ease 3.2s forwards;
            }
        }
        &.faint{
            .animalOne,
            .animalTwo{
                animation: popIn 0.3s ease forwards, slide 1s linear 0.5s forwards, bob 0.33s ease-in-out 0.5s 3, fly 0.2s ease-out 2.3s forwards;
            }
        }
        
        
    }

    .animalOne,
    .animalTwo{
        transform: scale(0) translateZ(0);
        height: 150px;
        width: 150px;
        display: inline-block;
        position: relative; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .animalImage{
            position: relative;
            right: 0;
            object-fit: contain;
            height: 66%;
            width: 66%;
            transform: scale(-1, 1);
        }
    }
    
}


.stats{
position: relative;
height: 33%;
img{
    height: 100%;
}
p{
    color: white;
    font-size: 1.8rem;
    display: block;
    -webkit-text-stroke: 2px black;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 100%;

    &.healthBeforeAttack{
        opacity: 1;
    }
    &.healthAfterAttack{
        opacity: 0;
    }

}
.attackPower{
    position: absolute;
    top: 13%;
    left: 10%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.health{
    position: absolute;
    top: 13%;
    left: 62%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}

.flipped{
    transform: scale(-1, 1);
}

.flippedNumber{
    transform: scale(-1, 1);
}

@keyframes swapHealth{
    0%{
        opacity: 0;
      
    }
    100%{
        opacity: 1;
     
    }
}

@keyframes popIn {
    0%{
    
        transform: scale(0) translateZ(0);
    }
    20%{
     
        transform: scale(0.3) translateZ(0);
    }
    80%{

        transform: scale(1.1) translateZ(0); 
    }

    100%{
  
        transform: scale(1) translateZ(0);
    }
}

@keyframes popOut {
    0%{
        transform-origin: right;
       
        transform: rotateZ(0deg) scale(1) translateX(var(--slide-distance)) translateY(0) translateZ(0);
    }
    30%, 50%{
        transform-origin: right;
    
        transform: rotateZ(0deg) scale(1.1) translateX(var(--slide-distance)) translateY(0) translateZ(0);
    }
  
    80%{
        transform-origin: right;
  
        transform: rotateZ(0deg) scale(0.3) translateX(var(--slide-distance)) translateY(0) translateZ(0);
    }

    100%{
        transform-origin: right;

        transform: rotateZ(0deg) scale(0) translateX(var(--slide-distance)) translateY(0) translateZ(0);
    }
}

@keyframes bob {
    0%{
        top: 0;
        }
    50%{
        top: -10px;
    }
    100%{
        top: 0;
    }
}

@keyframes bounce {
    0%{
        transform: rotateZ(0deg) translateX(var(--slide-distance)) translateY(0);
        }
        25%{
            transform: rotateZ(0deg) translateX(var(--slide-distance)) translateY(-5px);
        }
    40%{
        transform: rotateZ(0deg) translateX(var(--slide-distance)) translateY(0);
    }
    75%{
        transform: rotateZ(0deg) translateX(var(--slide-distance)) translateY(5px);
    }
    100%{
        transform: rotateZ(0deg) translateX(var(--slide-distance)) translateY(0);
    }
}


@keyframes attack {
    0%{
        transform: rotateZ(0deg) translateX(0%) scale(-1, 1);
    }
    20%{
        transform: rotateZ(15deg) translateX(-20%) scale(-1, 1);
    }
    45%{
        transform: rotateZ(15deg) translateX(-20%) scale(-1, 1);
    }
    50% {
        transform: rotateZ(0deg) translateX(50%) scale(-1, 1);
    }
    75%{
        transform: rotateZ(0deg) translateX(50%) scale(-1, 1);
    }
    100%{
        transform: rotateZ(0deg) translateX(0%) scale(-1, 1);
    }
}

@keyframes fadeNumber {
    0%{
        opacity: 0 ; transform: translateY(40px) scale(0.5);
    }
    40%{
        opacity: 0.8; transform: translateY(0) scale(1);
    }
    80%{
        opacity: 0.8; transform: translateY(0) scale(1);
    }
    100%{
        opacity: 0; transform: translateY(-20px) scale(1);
    }
}

@keyframes fadeNumberMirror {
    0%{
        opacity: 0 ; transform: translateY(40px) scale(0.5 , 0.5);
    }
    40%{
        opacity: 1; transform: translateY(0) scale(-1 , 1);
    }
    80%{
        opacity: 1; transform: translateY(0) scale(-1 , 1);
    }
    100%{
        opacity: 0; transform: translateY(-20px) scale(-1 ,1);
    }
}

@keyframes fly {
    0%{
        transform: rotateZ(0deg) translateX(var(--slide-distance)) translateY(0px);
    }
    100%{
        transform: rotateZ(0deg) translateX(-60vw) translateY(-400px);
    }
}



@keyframes slide{
0%{
transform: translateX(0);
}
100%{
    transform: translateX(var(--slide-distance));
}
}


@media(max-width: 420px){
    :root{
        --slide-distance: 50px;
    }
    .animalContainer{
        height: 130px;

        .animalOne,
        .animalTwo{
            width: 130px;
            height: 130px;
        }
        .damageNumber{
            font-size: 2rem;
            -webkit-text-stroke: 2px black;
        }
    }

    .stats{
        p{
            font-size: 1.6rem;
            left: -2px;
        }
    }
   
}

@media(max-width: 360px){
    :root{
        --slide-distance: 20px;
    }
}