@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Paytone One', sans-serif;
    background: url('./images/auto-pets-background.png');
    background-size: 1000px;
     overflow-x: hidden;
    /* overflow-y: scroll;  */
    width: 100%;
}

.ytp-title{
    color: red !important;
}

main{
    margin-bottom: 80px;
}